html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    font-size: 1.8rem;
    color: $black;
    text-decoration: none;
}

body {
    height: 10000px;
}