// NAVIGATION BAR

.navbar {
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px $black;
    background-color: $white;

    &-light &-toggler {
        border: none;
    }

    &-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 0;
    }
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: $black;
}

.logo__image img {
    height: 5rem;
}

.logo__text p {
    font-size: 2.5rem;
    font-family: $logoFont;
    font-weight: bold;
    color: $mainColor;
    margin-left: 1rem;
}

.nav-item {
    margin-right: 3.5rem;
}

@media (max-width: 991px) {
    .mt-sm-10 li {
        margin: auto;
        padding-bottom: 3rem;
    }
}

.offcanvas-end {
    width: 65%;
}


// PRESENTATION

.presentation {
    margin-top: 18rem;

    &__text h1 span {
        font-family: $logoFont;
        font-weight: 900;
        color: $mainColor;
    }
}

// JOIN

.join {
    
    & article {
        background-color: $mainColor;
    }
    
    &__text {


        & h2,
        & p {
            color: $white;
        }

        & a {
            color: $white;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

.wave-close {
    transform: rotate(180deg);
}

// TRANSFER

.transfer {

    &__text {
        width: 50%;

        @media (max-width: 991px) {
            & {
                width: 100%;
            }
        }

        & h2 {
            color: $mainColor
        }
    }
}

// LOAN

.loan {

    @media (max-width: 991px) {
        &__image {
            order: 2;
        }
    }

    &__text {
        width: 50%;

        @media (max-width: 991px) {
            & {
                width: 100%;
            }
        }

        & h2 {
            color: $mainColor;
        }
    }
}

// CONTACT

.contact h2 {
    background-color: $mainColor;
    margin: 0;
    color: $white;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $mainColor;

    & .input {
        display: flex;
        flex-direction: column;
        width: 30rem;

        & label {
            color: $white;
            font-size: 1.5rem;
        }

        & input {
            height: 3rem;
        }
    }

    & textarea {
        width: 30rem;
    }
}

// QUESTION

.questions h2 {
    color: $mainColor;
}

.accordion-button {
    font-size: 1.8rem;
    padding: 2rem;
}