@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

*, *::before, *::after {
  box-sizing: inherit; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 700; }

h3 {
  font-size: 1.5rem; }

a {
  font-size: 1.8rem;
  color: #000;
  text-decoration: none; }

p {
  font-size: 2rem;
  margin: 0; }

img {
  max-width: 100%; }

.btn {
  background: #fff;
  border: 2px solid #004AAD;
  padding: 16px 20px;
  border-radius: 3px;
  font-size: 1.8rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block; }
  .btn:hover {
    color: #ffff; }
  .btn::after {
    content: "";
    background: #004AAD;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease; }
  .btn:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1); }

.navbar {
  padding: 2rem;
  box-shadow: 0px 0px 5px 0px #000;
  background-color: #ffff; }
  .navbar-light .navbar-toggler {
    border: none; }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0; }

.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: #000; }

.logo__image img {
  height: 5rem; }

.logo__text p {
  font-size: 2.5rem;
  font-family: "Audiowide", cursive;
  font-weight: bold;
  color: #004AAD;
  margin-left: 1rem; }

.nav-item {
  margin-right: 3.5rem; }

@media (max-width: 991px) {
  .mt-sm-10 li {
    margin: auto;
    padding-bottom: 3rem; } }

.offcanvas-end {
  width: 65%; }

.presentation {
  margin-top: 18rem; }
  .presentation__text h1 span {
    font-family: "Audiowide", cursive;
    font-weight: 900;
    color: #004AAD; }

.join article {
  background-color: #004AAD; }

.join__text h2,
.join__text p {
  color: #ffff; }

.join__text a {
  color: #ffff;
  text-decoration: underline;
  font-weight: bold; }

.wave-close {
  transform: rotate(180deg); }

.transfer__text {
  width: 50%; }
  @media (max-width: 991px) {
    .transfer__text {
      width: 100%; } }
  .transfer__text h2 {
    color: #004AAD; }
