@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

*, *::before, *::after {
  box-sizing: inherit; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem;
  font-weight: 700; }

h3 {
  font-size: 1.5rem; }

a {
  font-size: 1.8rem;
  color: #000;
  text-decoration: none; }

p {
  font-size: 2rem;
  margin: 0; }

img {
  max-width: 100%; }

.btn {
  background: #fff;
  border: 3px solid #004AAD;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 1.8rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block; }
  .btn:hover {
    color: #ffff; }
  .btn::after {
    content: "";
    background: #004AAD;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease; }
  .btn:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1); }
  .btn-width {
    width: 18rem; }

footer {
  position: relative;
  background-image: url(../images/wave.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 32rem; }
  footer p {
    position: absolute;
    bottom: 1rem;
    color: #ffff;
    width: 100%;
    margin: 0 auto; }

.back {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  background-color: #ffff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: .3s; }
  .back:hover {
    transform: translateY(-1rem); }
  .back a {
    height: 100%;
    width: 100%; }

.navbar {
  padding: 2rem;
  box-shadow: 0px 0px 5px 0px #000;
  background-color: #ffff; }
  .navbar-light .navbar-toggler {
    border: none; }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0; }

.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: #000; }

.logo__image img {
  height: 5rem; }

.logo__text p {
  font-size: 2.5rem;
  font-family: "Audiowide", cursive;
  font-weight: bold;
  color: #004AAD;
  margin-left: 1rem; }

.nav-item {
  margin-right: 3.5rem; }

@media (max-width: 991px) {
  .mt-sm-10 li {
    margin: auto;
    padding-bottom: 3rem; } }

.offcanvas-end {
  width: 65%; }

.presentation {
  margin-top: 18rem; }
  .presentation__text h1 span {
    font-family: "Audiowide", cursive;
    font-weight: 900;
    color: #004AAD; }

.join article {
  background-color: #004AAD; }

.join__text h2,
.join__text p {
  color: #ffff; }

.join__text a {
  color: #ffff;
  text-decoration: underline;
  font-weight: bold; }

.wave-close {
  transform: rotate(180deg); }

.transfer__text {
  width: 50%; }
  @media (max-width: 991px) {
    .transfer__text {
      width: 100%; } }
  .transfer__text h2 {
    color: #004AAD; }

@media (max-width: 991px) {
  .loan__image {
    order: 2; } }

.loan__text {
  width: 50%; }
  @media (max-width: 991px) {
    .loan__text {
      width: 100%; } }
  .loan__text h2 {
    color: #004AAD; }

.questions h2 {
  color: #004AAD; }

.accordion-button {
  font-size: 1.8rem;
  padding: 2rem; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #004AAD;
  transition: 0.5s; }

.content {
  position: relative;
  width: 80rem;
  height: 50rem;
  margin: 2rem; }
  @media (max-width: 991px) {
    .content {
      max-width: 40rem;
      height: 65rem;
      display: flex;
      justify-content: center;
      align-items: center; } }

.background {
  position: absolute;
  top: 4rem;
  width: 100%;
  height: 42rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15); }
  .background .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .background .box h2 {
      color: #ffff;
      font-size: 1.2em;
      font-weight: 500;
      margin-bottom: 1rem; }
    .background .box button {
      cursor: pointer;
      padding: 1rem 2rem;
      color: #000;
      font-weight: 500;
      border: none; }

.formBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #ffff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  transition: .5s ease-in-out;
  overflow: hidden; }
  @media (max-width: 991px) {
    .formBx {
      width: 100%;
      height: 50rem;
      top: 0; } }
  .formBx .signupForm {
    left: -100% !important; }
  .formBx.active {
    left: 50%; }
    @media (max-width: 991px) {
      .formBx.active {
        left: 0;
        top: 15rem; } }
    .formBx.active .signinForm {
      left: -100% !important;
      transition-delay: 0s; }
    .formBx.active .signupForm {
      left: 0 !important; }
  .formBx .signinForm {
    transition-delay: .25s; }
  .formBx .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 5rem;
    transition: 0.5s; }
    .formBx .form form {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #ffff; }
      .formBx .form form h3 {
        font-size: 1.5em;
        margin-bottom: 2rem;
        font-weight: 700;
        color: #004AAD; }
      .formBx .form form a {
        font-size: 1.5rem;
        text-decoration: underline; }
      .formBx .form form input {
        width: 100%;
        margin-bottom: 2rem;
        padding: 1rem;
        outline: none;
        font-size: 16px;
        border: 1px solid #000; }
        .formBx .form form input[type="submit"] {
          background-color: #004AAD;
          border: none;
          color: #ffff;
          max-width: 13rem;
          cursor: pointer; }

@media (max-width: 991px) {
  .content .background {
    top: 0;
    height: 100%; }
  .background .box {
    position: absolute;
    width: 100%;
    height: 15rem;
    bottom: 0; }
  .background .signin {
    top: 0; } }

.btn-options {
  border: none;
  background-color: transparent;
  transition: .3s;
  padding: 1rem; }
  .btn-options i {
    font-size: 2rem;
    width: 100%;
    height: 100%;
    margin: 0 auto; }

.dropdown-toggle::after {
  border-top: none; }

.bg {
  background-color: #f2f2f2; }

.accounts {
  box-shadow: 0px 0px 5px 0px #000;
  padding: 5rem;
  background-color: #ffff; }
  .accounts h2 {
    color: #004AAD; }
  .accounts__ars, .accounts__dls {
    box-shadow: 0px 0px 5px 0px #000;
    padding: 2rem; }

.buy {
  box-shadow: 0px 0px 5px 0px #000;
  width: 40%;
  padding: 5rem;
  background-color: #ffff; }
  @media (max-width: 991px) {
    .buy {
      width: 100%; } }
  .buy h2 {
    font-size: 2.5rem;
    color: #004AAD; }

.loan-app {
  box-shadow: 0px 0px 5px 0px #000;
  width: 60%;
  padding: 5rem;
  background-color: #ffff; }
  @media (max-width: 991px) {
    .loan-app {
      width: 100%;
      margin: 0 !important; } }
  .loan-app h2 {
    color: #004AAD; }
  .loan-app__form input {
    height: 3rem;
    width: 30rem;
    font-size: 1.5rem;
    padding: 1.5rem; }
